* {
  box-sizing: border-box;
}

body {
  font-family: "helvetica";
  background-color: grey;
  color: #999;
  height: 100%;
  font-size: 13px;
  /*  background: url(https://subtlepatterns.com/patterns/white_wall.png) repeat;*/
  background-size: 200% auto;
}

form {
    padding: 10px;
    position: fixed;
    left: 30px;
    top: 30px;
    width: 300px;
    margin: 0 auto;
    text-align: left;
    opacity: 0.8;
    z-index: 99;
    box-shadow: 0px 14px 80px rgba(12, 0, 0, 0.3);
}

form:hover {
    opacity: 1;
}

form row {
    display: block;
    margin: 10px 0px;
}

form row input {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

input[type="text"],
select {
    margin-left: 10px;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 4px;
    font-size: 12px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 4px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 10px;
    -webkit-transition: .4s;
    transition: .4s;
}

.button {
    font-size: 12px;
    display: inline-block;
    margin-top: 30px;
    cursor: pointer;
    background-color: red;
    color: #fff;
    padding: 5px 10px;
}

.button:hover {
    color: red;
    width: 30%;
    border-radius: 30px;
    background: transparent;
    border-width: 2px 2px 3px;
    border-color: red;
}

#poster {
  position: relative;
  width: 800px;
  height: 1000px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #fff;
  margin: 50px auto 50px auto;
  overflow: hidden;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  outline: 99em solid #fff;
  cursor: zoom-out;
}
#poster h1 {
  position: relative;
  z-index: 10;
}
#poster h1.tilted {
  transform: rotate(-45deg);
}
#poster.viewing {
  transform: scale(0.4);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  outline: none;
  cursor: zoom-in;
}
#poster #body {
  position: absolute;
  z-index: 11;
  font-size: 40px;
  transform: rotate();
  /*   &.tilted {
       transform: rotate(-45deg);
     }*/
}
#poster .border {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
}

/*#body,
#line,
.border,
.squiggle{
  transition: all 0.2s ease;
  transform: translate3d(0,0,0);
}*/
.squiggle {
  position: absolute;
}
.squiggle:nth-child(2n+1) {
  transform: rotate(45deg);
}
.squiggle:nth-child(2n) {
  transform: rotate(-45deg);
}

.square {
  position: absolute;
  opacity: 0.5;
  z-index: 8;
}

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.cross {
  background-color: red;
  height: 100px;
  position: relative;
  width: 20px;
}

.cross:after {
  background-color: red;
  content: "";
  height: 20px;
  left: -40px;
  position: absolute;
  top: 40px;
  width: 100px;
}

.image {
  width: 100%;
  max-width: 200px;
  height: 0;
  padding-bottom: 100%;
}

label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #FFF;
  border-radius: 50% 50% 50% 50%;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
}
label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
}
label .hamburger:after, label .hamburger:before {
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}
label .hamburger:before {
  top: -10px;
}
label .hamburger:after {
  bottom: -10px;
}
label input {
  display: none;
}
label input:checked + .menu {
  box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
  border-radius: 0;
}
label input:checked + .menu .hamburger {
  transform: rotate(45deg);
}
label input:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}
label input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}
label input:checked + .menu + ul {
  opacity: 1;
}
label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.45s 0s ease-in-out;
}
 .nobull {
  list-style-type: none;
 }
label a {
  position: relative;
  display: inline-block;
  font-size: 1.5em;
padding-bottom: 1em;
  color: darkgrey;
  font-weight: 200;
  text-decoration:none;
  overflow: hidden;
}
label a::before {
  position: absolute;
  content: attr(data-content);
  top: 0;
  left: 0;
  width: 0;
  color: black;
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden;
  transition: width 285ms ease;
}
label a:hover::before {
  width: 100%;
}
#selectors {
    display: none;
}